client stuck on read wait (no Content-Length or Transfer-Encoding)

If a server omits Content-Length and Transfer-Encoding the client waits until timeout. I am not sure if this needs a "fix" to be honest, nor where this fix should be implemented (http-proxy or http.js).
According to [RFC 2616 section 4.4](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.4) the server can simply disconnect. I hacked a small [patch](https://github.com/tralamazza/node-http-proxy/commit/b24452a00a1ca256bb3ae734a7706eaab194cfe9#lib/node-http-proxy.js) to fix my particular problem.
